/*Universal Parameters*/
* {
    margin:0;
    color:rgb(237, 237, 237);
    font-family: 'Montserrat', 'serif';
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

/*Header*/
header {
    height: 4rem;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 5;
}


header img {
    height: 4rem;
}

header nav {
    align-self: center;
}

header a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

header nav a:hover {
    background-color: rgb(237, 237, 237);
    color: black;
}

/*Parallax background*/
.parallaxTaylor {

    /* The image used */
    background-image: url('/portfolioPage/resources/images/TK.jpeg');
    
    /* Set a specific height */
    min-height: 100vh; 
    
    /* Create the parallax scrolling effect */
    
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Headings*/
h1 {
    margin:auto;
    text-align: center;
    position: relative;
    top:65vh;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    width:39.5rem;
    border-radius: 1rem;
}

h2 {
    margin-left:2rem;
    padding-top:1rem;
    padding-bottom: 2rem;
    font-size: 5rem;
    text-align: center;
}

/*****ABOUT******/
.about {
    padding:4rem 1rem;
    background-color: rgb(78, 78, 78);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about h2 {
    flex:1;
}

.about p {
    flex:2;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}



/*****Projects******/
.project {
    padding:4rem 1rem;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.project h2 {
    flex:1;
}

.project ul {
    flex:2;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.project li {
    padding: 1rem 0;
}



/*****Skills******/
.skills {
    background-color: rgb(78, 78, 78);
    padding:4rem 1rem;
}

.logoList {
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.skills h3 {
    font-size: 1.5rem;
}


/*****FOOTER*****/
footer {
    position:fixed;
    color: white;
    background-color: rgb(93, 134, 188);
    bottom: 10px;
    right:10px;
    width:4rem;
    height:4rem;
    border-radius: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.1s;
}

/**Before Hovering**/
footer div.hover {
    display:none;
}

footer #temperature {
    display: inline-block;
}

footer h3 {
    text-decoration: underline;
    padding-bottom: 0.5rem;
}

footer h4 {
    padding-bottom: 0.5rem;
}

/**On Hover**/
footer:hover div.hover {
    display: inline-block;
}

footer:hover #temperature {
    display: none;
}

footer:hover {
    width: 30rem;
    height:15rem;
    transition: 0.1s;
}


/*Montserrat Font Family*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}